<div class="Donate">
    <h1>DONATION CENTER</h1>
    <div class="data">
        <div class="v1">
            <div class="person">
                <img src="../../assets/img/donation/donate.png" alt="">
                <h2>VDEG's 9th Volunteer Camp</h2>
                <h3>Activity Details</h3>
                <p>VDEG's 9th Volunteer Camp is hosted at Phagae Primary School! This unique opportunity invites
                    volunteers from all backgrounds to come together for a week of impactful community service and
                    educational enrichment. Throughout the camp, volunteers will engage in a variety of activities
                    designed to support the school's educational goals and enhance the learning experience for students.
                    Activities will include interactive teaching sessions, creative arts and crafts workshops, and
                    constructive playtime activities. Volunteers will have the chance to share their skills and
                    knowledge with eager young learners, fostering a supportive environment that encourages curiosity
                    and growth.</p>
            </div>
        </div>
        <div class="v2">
            <input type="text" placeholder="Name of Donator">
            <input type="text" placeholder="Contact Information">
            <input type="text" placeholder="Transaction Amount">
            <input type="text" placeholder="Time of transaction">
        <div class="buttom"><button>Attach Invoice</button><div class="b1"><img src="../../assets/img/donation/ADD.svg" alt="icon"></div></div>
        </div>
    </div>
    <div class="SOFT">
        <h1>RECENT DONATIONS</h1>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Name of Donator</th>
                <th>Date</th>
                <th>Amount Donated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>03/02/2567</td>
                <td>1000THB</td>
            </tr>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>03/02/2567</td>
                <td>1000THB</td>
            </tr>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>03/02/2567</td>
                <td>1000THB</td>
            </tr>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>03/02/2567</td>
                <td>1000THB</td>
            </tr>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>03/02/2567</td>
                <td>1000THB</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>