<div class="Login">
    <div class="conteaner">
      <div class="data">
          <h1>LOGIN</h1>
      </div>
      <div class="body">
          
          <div class="data">
              <input type="text" placeholder="Email">
              <input type="text" placeholder="password">
          </div>
          <div class="text-p">
            <p ><a href="#"></a>Register Here</p>
            <p ><a href="#"></a>Forgot Password?</p>
          </div>
      </div>
      <button>LOGIN</button>
      <div class="text-p1">
        <p><a href="#"></a>Or Login Useing</p>
      </div>
      <div class="social">
        <a href="#" class="social-button"><img src="../../assets/img/Register/Facebook.svg" alt="Facebook"></a>
        <a href="#" class="social-button"><img src="../../assets/img/Register/google.svg" alt="Google"></a>
        <a href="#" class="social-button"><img src="../../assets/img/Register/line.svg" alt="LINE"></a>
    </div>
    <div class="text-p2">
        <p><a href=""></a>Continue as Guest</p>
    </div>
      
    </div>
    