<div class="Reset">
<div class="content">
  <div class="head">
      <h1>Reset your password</h1>
  </div>
  <div class="form">
      <!-- บน -->
      <div class="top">
          <input type="text" placeholder="OTP">
          <!-- <input type="text" placeholder="lastName"> -->
          <div class="bot">
              <button>Resend OTP</button>
          </div>
      </div>
      <!-- ล่าง -->
      <div class="bottom">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="newpassword">
      </div>
  </div>
  <button>Submit</button>
  
</div>
