<app-nevbar></app-nevbar>
<div class="Profile">
    <div class="data">
        <div><h1>Profile</h1></div>
        <div class="bubble">
            <div class="PG1">
                <a href="#">
                    <img src="../../assets/img/Profile/Avaral2.svg" alt=""width="120px">
                </a>
            </div>
            <div class="PG2">
                <h3>Jane Doe</h3>
            </div>
            <div class="PG3">
                <a href="#">
                    <img src="../../assets/img/Profile/icon.svg" alt="">
                </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2>Personal Information</h2>
                <div class="PG4">
                    <a href="#">
                        <img src="../../assets/img/Profile/icon.svg" alt="">
                    </a>
                </div>
            </div>

            <div class="border"></div>
            <div class="PG4">
                <div class="left"> <b>E-Mail : janedoe1999&#64;gmail.com</b></div>
                <div class="right"><b>Phone Number : 095-0185468</b></div>
                
            </div>
            <div class="border"></div>

            <div class="PG4">
                <div class="left"> <b>Illness : Asthma  </b></div>
                <div class="right"><b>Emergency Contact : 065-4873125</b></div>
                
            </div>
            <div class="border"></div>

            <div class="PG4">
                <div class="left"> <b>Allergies : Pollen </b></div>
                <div class="right"><b>Religion : Muslim</b></div>
    
            </div>
            <div class="border"></div>

            <div class="PG4">
                <div class="left"> <b>Food Allergies : Seafood </b></div>

            </div>
            <div class="border"></div>
            <p>User Since : 08/07/2023</p>

        </div>
    </div>
    
</div>
<app-footer></app-footer>




