
<div class="Reset">
    <div class="content">
      <div class="head">
          <h1>Register</h1>
      </div>
      <div class="form">
          <div class="bottom">
              <input type="text" placeholder="Email">
              <input type="text" placeholder="password">
              <input type="text" placeholder="First Name">
              <input type="text" placeholder="Last Name">
              <input type="text" placeholder="Phone Number">
          </div>
             <div class="text-p">
                <p><a href=""></a>Login Here</p>
            </div>
      </div>
      <button>Register</button>
      <div class="text-p1">
        <p><a href="........."></a>Or Login Useing</p>
      </div>

      <div class="social">
        <a href="#" class="social-button"><img src="../../assets/img/Register/Facebook.svg" alt="Facebook"></a>
        <a href="#" class="social-button"><img src="../../assets/img/Register/google.svg" alt="Google"></a>
        <a href="#" class="social-button"><img src="../../assets/img/Register/line.svg" alt="LINE"></a>
    </div>
    <div class="text-p2">
        <p><a href=""></a>Continue as Guest</p>
    </div>




    </div>
   
      
</div>
    